*.db
*.vsidx
.vs/Project_MT/v17/.wsuo
*.cache
*.cache
*.props
*.cache
*.cache
*.props
*.editorconfig
*.editorconfig
*.cache
*.cache
*.sqlite
*.cache
*.cache
*.cache
Projekt 4 iradspel grupp 12/OODP/obj/Debug/net8.0-windows/OODP.GeneratedMSBuildEditorConfig.editorconfig
*.db-shm
*.db-wal
/Projekt 4 iradspel grupp 12/4iradTests/ErrorTests.cs
/Projekt 4 iradspel grupp 12/4iradTests/ErrorTests.cs
