*.db
*.vsidx
.vs/Project_MT/v17/.wsuo
*.json
*.cs
*.cache
*.cs
*.json
*.cache
*.props
*.cache
*.cache
*.props
*.editorconfig
*.editorconfig
*.cache
*.cache
*.cs
*.sqlite
*.cs
*.cs
*.cache
*.cache
*.cache
Projekt 4 iradspel grupp 12/OODP/obj/Debug/net8.0-windows/OODP.GeneratedMSBuildEditorConfig.editorconfig
*.json
*.db-shm
*.db-wal
